<nav class="navbar">
    <div class="nav-title">Prijava</div>
    <div class="nav-buttons">
        <button class="nav-button" (click)="pocetna()">Početna strana</button>
    </div>
</nav>
<div class="login">
    <h2>Prijava administratora</h2>
    <form class="search-form2" (ngSubmit)="prijaviSe()">
        <label for="username">Korisničko ime:</label>
        <input type="text" id="username" [(ngModel)]="username" name="username" required>
        <br>
        <label for="password">Lozinka:</label>
        <input type="password" id="password" [(ngModel)]="password" name="password" required>
        <br>
        <button type="submit">Prijavi se</button>
    </form>
    <div *ngIf="errorMessage" class="error-message">
        {{ errorMessage }}
    </div>

</div>
